@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

@font-face {
    font-family: 'Bradley Hand ITC';
    src: url('fonts/BradleyHandITC.woff2') format('woff2'),
        url('fonts/BradleyHandITC.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

main {
    position: relative;
}

.nav-bar {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 12px;
    z-index: 10;
    display: flex;
    width: 25vw;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: rgba(75, 46, 5, 0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    margin: auto;
    border-radius: 55px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}

nav a {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    color: #d6a45f;
}

nav a.active {
    color: #d6a45f;
    border-bottom: 2px solid #d6a45f;
    padding-bottom: 4px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.background-video {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.background-video video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.56);
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 500px;
    color: white;
    z-index: 5;
}

.main-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2.9s steps(25) 0.5s forwards;
}

.coffee-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    animation: appear 2.2s ease forwards;
    animation-delay: 4s;
    color: #d6a45f;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 17ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(-50%, -30%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.story {
    position: relative;
    background-color: #1A1514;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 1200px;
    height: 140px;
    background-color: none;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    color: #F5E6CC;
    font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
    font-size: 100px;
}

.main_2 {
    background-color: red;
    width: 1200px;
    height: 140px;
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.story_text {
    color: #F5E6CC;
    font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
    font-size: 100px;
}

.story_tag {
    font-size: 68px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.description {
    font-family: 'Bradley Hand ITC', 'Bradley Hand', cursive;
    font-size: 70px;
    background-color: none;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%);
    height: 350px;
    width: 1200px;
    color: #FAECD8;
}

.coffee-section {
    position: relative;
    background: linear-gradient(to bottom right, #f1dabf, #d9b18a);
    top: 0px;
    height: 100vh;
    z-index: 7;
}

.back-story {
    background-color: rgb(235, 225, 225);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    width: 1200px;
    height: 135px;
}

.coffee-text1 {
    color: red;
    background-color: none;
    width: 1200px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 47px;
    font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
    font-size: 180px;
    z-index: 6;
}

.coffee-grid {
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    height: 65vh;
    width: 75vw;
    gap: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.grid-item {
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5E6CC;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 25px;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.item-1 a{
     color: #F5E6CC;
     text-decoration: none;
     font-size: 25px;
}
.item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #2B1B0F;
    color: #F5E6CC;
}

.item-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #E6BE9A;
    color: #1A1514;
}

.item-3 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #3C2A1E;
    color: #FAECD8;
}

.item-4 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #EEDFC5;
    color: #2B1B0F;
}

.item-5 {
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: #4E342E;
    color: #FFD28F;
}

.home-footer {
    width: 100vw;
    height: 65vh;
    background-color: black;
    position: relative;
}